body {
	background-color: #DDE5E4;
	color: #2B1D24;
	padding-left: 5px;
	font-family: "Didot";
	font-size: 14px;
}

h1 {
	text-align: left;
	font-size: 26px;
	padding-left: 10%;
	border-left: 2px solid #2B1D24;
}

h2 {
	text-align: left;
	font-size: 20px;
}
